body {
  background: linear-gradient(135deg, #dbeafe 0%, #f1f5f9 80%);
  min-height: 100vh;
}
#sidebar {
  background: rgba(34, 38, 70, 0.85);
  backdrop-filter: blur(7px);
  box-shadow: 2px 0 10px rgba(40, 52, 90, 0.15);
  border-right: 1px solid #2b3050;

  .btn-action-detail { color: #38d39f; background-color: #eafaf4; }
.btn-action-detail:hover { background-color: #38d39f; color: white; }
}